.CurBi {
  background-image: url('/images/character/CurBi.jpg');
  &:hover {
    background-image: url('/images/character/CurBi_H.jpg');
  }
}

.Ross {
  background-image: url('/images/character/Ross.png');
  &:hover {
    background-image: url('/images/character/Ross_H.jpg');
  }
}

.Zoro {
  background-image: url('/images/character/Zoro.png');
  &:hover {
    background-image: url('/images/character/Zoro_H.jpg');
  }
}

.Luffy {
  background-image: url('/images/character/Luffy.jpg');
  &:hover {
    background-image: url('/images/character/Luffy_H.png');
  }
}

.Guleiwa {
  background-image: url('/images/character/Guleiwa.jpg');
  &:hover {
    background-image: url('/images/character/Guleiwa_H.jpg');
  }
}

.Nami {
  background-image: url('/images/character/Nami.jpg');
  &:hover {
    background-image: url('/images/character/Nami_H.jpg');
  }
}

.Mansherry {
  background-image: url('/images/character/Mansherry.jpg');
  &:hover {
    background-image: url('/images/character/Mansherry_H.jpg');
  }
}

.Lora {
  background-image: url('/images/character/Lora.png');
  &:hover {
    background-image: url('/images/character/Lora_H.jpg');
  }
}