.CurBi {
  .img {
    background-image: url('/images/character/CurBi.jpg');
  }
  &:hover {
    .img {
      background-image: url('/images/character/CurBi_H.jpg');
    }
  }
}

.Ross {
  .img {
    background-image: url('/images/character/Ross.png');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Ross_H.jpg');
    }
  }
}

.Zoro {
  .img {
    background-image: url('/images/character/Zoro.png');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Zoro_H.jpg');
    }
  }
}

.Luffy {
  .img {
    background-image: url('/images/character/Luffy.jpg');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Luffy_H.jpg');
    }
  }
}

.Guleiwa {
  .img {
    background-image: url('/images/character/Guleiwa.jpg');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Guleiwa_H.jpeg');
    }
  }
}

.Nami {
  .img {
    background-image: url('/images/character/Nami.jpg');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Nami_H.jpg');
    }
  }
}

.Mansherry {
  .img {
    background-image: url('/images/character/Mansherry.jpg');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Mansherry_H.jpg');
    }
  }
}

.Lora {
  .img {
    background-image: url('/images/character/Lora.png');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Lora_H.jpg');
    }
  }
}