.CurBi {
  .img {
    background-image: url('/images/character/CurBi.jpg');
  }
  &:hover {
    .img {
      background-image: url('/images/character/CurBi_H.jpg');
    }
  }
}

.Ross {
  .img {
    background-image: url('/images/character/Ross.png');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Ross_H.jpg');
      background-position: 30% 50% !important;
    }
  }
}

.Zoro {
  .img {
    background-image: url('/images/character/Zoro.png');
    background-position: 10% 50% !important;
  }
  &:hover {
    .img {
      background-image: url('/images/character/Zoro_H.jpg');
    }
  }
}

.Luffy {
  .img {
    background-image: url('/images/character/Luffy.jpg');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Luffy_H.png');
    }
  }
}

.Guleiwa {
  .img {
    background-image: url('/images/character/Guleiwa.jpg');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Guleiwa_H.jpeg');
    }
  }
}

.Nami {
  .img {
    background-image: url('/images/character/Nami.jpg');
    background-position: 80% 50% !important;
  }
  &:hover {
    .img {
      background-image: url('/images/character/Nami_H.jpg');
    }
  }
}

.Mansherry {
  .img {
    background-image: url('/images/character/Mansherry.jpg');
  }
  &:hover {
    .img {
      background-image: url('/images/character/Mansherry_H.jpg');
    }
  }
}

.Lora {
  .img {
    background-image: url('/images/character/Lora.png');
    background-position: 50% 0 !important;
  }
  &:hover {
    .img {
      background-image: url('/images/character/Lora_H.jpg');
    }
  }
}