.wrapper {
  height: 500px;
  background: url('/images/bg1.jpg') no-repeat 50% 100%;
}

.wrapper_bottom {
  height: 260px;
  background: url('/images/bg2.jpg') no-repeat 50% 0;
}

.imageBoard {
  width: 500px;
  height: 500px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.lazyShow {
  opacity: 1;
  animation: show 2s linear 1;
}

@-webkit-keyframes show {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes show {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}