@import "./variables.scss";
$content-height: 530px;
$mobile-content-height: 490px;
$mobile-hor-content-height: 300px;
* {
  font-family: 'Noto Serif TC', 'Times New Roman', Times, serif !important;
}

html {
  background: url(./images/bg1.jpg) repeat 50% 100%;
}

body {
  position: relative;
}

.wrapper {
  height: $content-height;
  background: url(./images/bg1.jpg) no-repeat 50% 100%;
  @include mobile_hor {
    height: $mobile-hor-content-height;
  }
  @include mobile {
    height: $mobile-content-height;
  }
}

.wrapper_bottom {
  height: 230px;
  background: url(./images/bg2.jpg) no-repeat 50% 0;
  @include mobile_hor {
    height: 115px;
  }
  @include mobile {
    height: 250px;
  }
}

.contentWrapper {
  width: 740px;
  height: $content-height;
  margin: auto;
  padding: 50px;
  text-align: center;
  position: relative;
  @include mobile_hor {
    width: 100%;
    height: $mobile-hor-content-height;
  }
  @include mobile {
    width: 100%;
    height: $mobile-content-height;
  }
  &::before,
  &::after {
    content: '';
    width: 50px;
    height: 100%;
    top: 0;
    background-image: url(./images/border/border.png);
    background-size: auto 800px;
    position: absolute;
  }
  &::before {
    left: 0;
    background-position: 29% 50%;
  }
  &::after {
    right: 0;
    background-position: 71% 50%;
  }
  .title {
    font-size: 25px;
    color: $dark3;
    line-height: 30px;
    margin: 20% 0 10%;
    @include mobile_hor {
      font-size: 20px;
      margin: 10% 0 5%;
    }
    @include mobile {
      margin: 30% 0 15%;
    }
  }
  .btn {
    font-size: 18px;
    color: $dark2;
    background-color: $transparent_white1;
    padding: 20px;
    margin: 20px 60px 20px 20px;
    border: none;
    border-radius: 0 50% 0 0;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: .4s;
    @include mobile_hor {
      font-size: 15px;
      padding: 15px;
    }
    &:last-child {
      margin-right: 20px;
    }
    &:hover {
      background-color: $transparent_white2;
    }
    &::before {
      content: '';
      width: 125%;
      height: 2px;
      background-image: linear-gradient(45deg, $brown, $light_brown);
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &::after {
      content: '';
      width: 3px;
      height: 125%;
      background-image: linear-gradient(45deg, $brown, $light_brown);
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover::before {
      -webkit-animation: btnBefore .3s linear 1;
      animation: btnBefore .3s linear 1;
    }
    &:hover::after {
      -webkit-animation: btnAfter .3s linear 1;
      animation: btnAfter .3s linear 1;
    }
  }
  .character {
    font-size: 50px;
    color: $dark2;
    top: 20%;
    left: 50%;
    position: absolute;
    @include mobile_hor {
      left: 55%;
    }
    @include mobile {
      top: 80%;
      left: 10%;
    }
  }
  .des {
    font-size: 20px;
    color: $dark2;
    max-width: 45%;
    line-height: 30px;
    padding: 15px;
    top: 45%;
    left: 50%;
    background-color: $transparent_white3;
    border-radius: 15px;
    position: absolute;
    text-align: left;
    z-index: 3;
    @include mobile_hor {
      max-width: 40%;
      left: 55%;
    }
    @include mobile {
      max-width: 65%;
      top: 95%;
      left: 25%;
    }
  }
  .imageBoard {
    width: 400px;
    height: 400px;
    top: 10%;
    left: -15%;
    position: absolute;
    cursor: none;
    @include mobile_hor {
      top: -5%;
      left: -2%;
    }
    @include mobile {
      top: 0%;
      left: 10%;
    }
    &:hover {
      .img {
        transform: rotate(5deg);
      }
    }
    .border {
      width: 400px;
      height: 400px;
      top: 0;
      left: 0;
      background: url(./images/border/pic-border.png) no-repeat 50%;
      background-size: 100%;
      position: absolute;
      z-index: 2;
    }
    .img {
      width: 300px;
      height: 300px;
      margin: auto;
      top: 52px;
      left: 80px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      transition: .5s;
    }
  }
}

.reset {
  width: 50px;
  height: 50px;
  background: url(./images/reset.png) no-repeat 50%;
  background-size: 100%;
  position: absolute;
  right: 75px;
  bottom: 300px;
  cursor: pointer;
  @include mobile_hor {
    right: 20px;
    bottom: 20px;
  }
  @include mobile {
    right: 20px;
    bottom: 20px;
  }
  &:hover {
    -webkit-animation: reset 1s linear infinite;
    animation: reset 1s linear infinite;
  }
  &::before {
    content: '重玩請按我';
    font-family: '微軟正黑體' !important;
    font-size: 15px;
    color: $dark3;
    line-height: 40px;
    letter-spacing: 1px;
    text-indent: 10px;
    width: 100px;
    height: 40px;
    top: 5px;
    left: -110px;
    background-color: $light_green;
    position: absolute;
    border-radius: 25px;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.15);
  }
  &::after {
    content: '';
    width: 10px;
    height: 10px;
    top: 20px;
    left: -17px;
    background-color: $light_green;
    position: absolute;
    transform: rotate(45deg);
  }
}

.Author {
  font-size: 12px;
  color: $light_gray;
  line-height: 30px;
  left: 50px;
  bottom: 50px;
  padding: 10px;
  position: fixed;
  border: 3px double $light_gray;
  @include mobile_hor {
    font-size: 10px;
    line-height: 18px;
    left: 10px;
    bottom: 10px;
    position: absolute;
  }
  @include mobile {
    font-size: 12px;
    line-height: 20px;
    left: 10px;
    bottom: 10px;
    position: absolute;
  }
}

@-webkit-keyframes btnBefore {
  50% {
    width: 150%;
  }
}

@keyframes btnBefore {
  50% {
    width: 150%;
  }
}

@-webkit-keyframes btnAfter {
  50% {
    height: 180%;
  }
}

@keyframes btnAfter {
  50% {
    height: 180%;
  }
}

@-webkit-keyframes reset {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reset {
  100% {
    transform: rotate(360deg);
  }
}

.lazyShow {
  opacity: 1;
  animation: show 1.5s linear 1;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}