.umbrella {
  position: fixed;
  z-index: 100;
}

.leftUmb,
.rightUmb {
  background-image: url('/images/umbrella1.png');
  background-size: cover;
  position: absolute;
}

.leftUmb {
  width: 1750px;
  height: 1750px;
  left: -1700px;
  top: -1400px;
  -webkit-animation: leftUmb 1.5s linear 1;
  animation: leftUmb 1.5s linear 1;
}

@-webkit-keyframes leftUmb {
  0% {
    left: -1300px;
    transform: rotate(0deg);
  }
  20% {
    left: -1000px;
  }
  40% {
    left: -800px;
    top: -500px;
  }
  50%{
    left: -700px;
  }
  60% {
    left: -650px;
  }
  70%{
    left: -700px;
  }
  80% {
    left: -900px;
  }
  100% {
    left: -1200px;
    top: 550px;
    transform: rotate(360deg);
  }
}

@keyframes leftUmb {
  0% {
    left: -1300px;
    transform: rotate(0deg);
  }
  20% {
    left: -1000px;
  }
  40% {
    left: -800px;
    top: -500px;
  }
  50%{
    left: -700px;
  }
  60% {
    left: -650px;
  }
  70%{
    left: -700px;
  }
  80% {
    left: -900px;
  }
  100% {
    left: -1200px;
    top: 550px;
    transform: rotate(360deg);
  }
}

.rightUmb {
  width: 1650px;
  height: 1650px;
  left: 950px;
  top: 1000px;
  -webkit-animation: rightUmb 1.5s linear 1;
  animation: rightUmb 1.5s linear 1;
}

@-webkit-keyframes rightUmb {
  0% {
    left: 900px;
    top: 800px;
    transform: rotate(0deg);
  }
  20% {
    left: 850px;
    top: 500px;
  }
  40% {
    left: 900px;
    top: 100px;
  }
  60% {
    left: 1000px;
    top: -200px;
  }
  80% {
    left: 1200px;
    top: -300px;
  }
  100% {
    left: 1550px;
    top: -400px;
    transform: rotate(360deg);
  }
}

@keyframes rightUmb {
  0% {
    left: 900px;
    top: 800px;
    transform: rotate(0deg);
  }
  20% {
    left: 850px;
    top: 500px;
  }
  40% {
    left: 900px;
    top: 100px;
  }
  60% {
    left: 1000px;
    top: -200px;
  }
  80% {
    left: 1200px;
    top: -300px;
  }
  100% {
    left: 1550px;
    top: -400px;
    transform: rotate(360deg);
  }
}